
/* CSS pour les mobiles */

.bloc_page
{
	width: 600px;
}

																						/*HEADER*/

.logo 
{
	margin-left: 7px;
}

.bannerTitle
{
	font-size: 20px;
	margin-left: 7px;
	border-style: solid;
	border-color: white;
	padding: 3px;
	width: 300px;
	word-wrap: break-word;
}

.bannerText
{
	font-size: 15px;
	margin-left: 12px;
}



/*barre de recherche */

.barre_recherche
{
	display: none;
}

.barre_recherche_mobile
{
	display: flex;
}

.barre_recherche_mobile .fa-map-marker-alt
{
	margin-left: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	padding-bottom: 16px;
	padding-top: 15px;
	padding-right: 16;
	padding-left: 16px;
	background-color: #F2F2F2;
}

.search_mobile
{
	border-width: 1px;
	border-color: #0065FC;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	color: white;
	padding: 15px;
	width: 20px;
	font-size: 20px;
}


/*menu en version mobile*/


nav ul
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
	flex-direction: column-reverse;
	
}

.menu   /*Fait disparaitre le menu desktop*/
{
	display: none;
}

.menumobile
{
	display: block;
	width: 57%;
	margin-left: -100px;
}

#table_menu
{
	display: block;
}

.Hebergementsactivités
{
	display: flex;
	padding-top: 70px;

}

.Hebergementsactivités a 
{
	padding-right: 10px;
	padding-top: 70px;

}


table td          /*partie menu mobile hebergements et activités soulignée en bleu et gris*/
{
	padding-top: 90px;
	border-bottom: solid;
	border-color: #0065FC;
	width: 50%;
	padding-bottom: 10px;
}


.activiteslien
{
	border-bottom: solid;
	border-color: #F2F2F2;
	width: 175px;
}

table td a 
{
		color: #0065FC;
}

.inscriptionlien
{
	text-align: right;
	margin-top: 40px;
	margin-left: -50px;
}

.inscriptionlien a 
{
	color: #0065FC;
}

.hebergementlien
{
	margin-left: 20px;
}

.activiteslien
{
	margin-left:40px;
}

.menusinscrire
{
	padding-left: -60px;
}


/*FILTRES*/

.titre_filtres
{
	font-size: 18px;
	margin-bottom: -17px;
}


.conteneur_filtres
{
	flex-wrap: wrap;
	flex-direction: column;
}

.filterList ul
{
	font-size: 15px;
	border-color: white;
	border-style: solid;
	padding: 3px;
	width: 300px;
	word-wrap: break-word;
}


.filterList ul li
{
	  display: inline;
  	margin-left: 0px;
  	font-weight: 600;
  	border: solid 2px #F2F2F2;
  	padding: 0px 15px 0px 0px;
  	margin-top: 10px;
  	border-radius: 200px;

}

.iconFilter
{
	color: #0065FC;
	background-color: #DEEBFF;
	padding: 12px;
	padding-right: 3px;
  	border-radius: 200px;
  	margin-right: 15px;
}

.économique, .familial, .romantique, .animaux
{
	margin-left: 15px;
}

.logements_disponibles
{
	word-wrap: break-word;
	font-size: 15px;
	margin-left: 3px;
	border-color: white;
	border-style: solid;
	width: 350px;
}

/*HEBERGEMENTS*/

.Hebergements
{
	flex-direction: column-reverse;
}


.Hebergements_a_Marseille 
{

	width: 400px;
	height: 1550px;
	border-color: white;
	background-color: white;
	border-style: solid;
}

.ancre_hébergements
{
	font-size: 24px;
	margin-left: -50px;
}

.card
{
	margin-bottom : 20px;
}

.cardmouettes
{
	margin-bottom: 0px;
}

.card   
{
	width: 290px;
	height: 190px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 30px;
	padding-bottom: 16px;
}

.image
{
	width: 313px;
	height: 120px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.Afficherplus
{
	font-size: 20px;
	font-weight: bold;
	margin-left: 0px;
}

aside
{
	margin-left: 0px;
	margin-bottom: 0px;
}

.cardContainer
{
	flex-direction: column;
}

/*ACTIVITES*/

.conteneur_activites
{
	flex-direction: column;
    align-items: center;
    width: 100%;
}

.Activites_a_Marseille
{
	margin: 5% 5% 0 5%;
}

.card3
{
	
	margin-left: center;
	width: 90%;
}

.activityCard1
{
	width: 320px;
	height: 170px;
	margin-bottom: 25px;
	margin-left: -215px;
}

.activityCard1 img 
{
	width: 350px;
	height: 150px;
	padding-left: -10px;
}

.activityCard2
{
	width: 315px;
	margin-left: -220px;
	margin-bottom: 25px;
	height: 160px;
}

.activityCard2 img 
{
	width: 345px;
	height: 150px;
}

.activityCard5
{
	margin-left: -220px;
	margin-right: 10px;
	height: 160px;
	width: 320px;
	margin-bottom: 25px;
}

.activityCard5 img 
{
	height: 150px;
	width: 350px;
}

.activityCard3
{
	width: 55%;
	height: 175px;
	padding-right: 50px;
	padding-left: 10px;
	margin-bottom: 25px;
	margin-left: -250px;
}

.activityCard3 img 
{
	width: 345px;
	height: 150px;
}

.activityCard4
{
	width: 325px;
	height: 170px;
	margin-left: -270px;
}

.activityCard4 img 
{
	height: 150px;
	width: 353px;
}

.activityCard6
{
	height: 160px;
	width: 330px;
	margin-left: -270px;
}

.activityCard6 img 
{
	height: 150px;
	width: 360px;
}


/*FOOTER */

footer 
{
	margin-left: -45px;
}

.footerContainer /*disposition des blocs*/
{
	width: 100%;
	flex-direction: column;
}

.footerBloc
{
	margin-top: 30px;
}

.footerBloc h3, p 
{
  margin-top: 0px;
}


/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 0px et 300px */
@media all and (min-width: 0px) and (max-width: 300px){

.bloc_page
{
	max-width: 300px;
}

	.conteneur_filtres
{
	flex-direction: column;
}

.menumobile
{
	display: block;
	width: 90%;
	margin-left: -100px;
}

.filterList ul
{
	font-size: 15px;
	border-color: white;
	border-style: solid;
	padding: 3px;
	width: 220px;
	word-wrap: break-word;
}

.barre_recherche
{
	display: none;
}

.barre_recherche_mobile i
{
	margin-left: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	padding-bottom: 16px;
	padding-top: 15px;
	padding-right: 16;
	padding-left: 16px;
	background-color: #F2F2F2;
}

.bouton i 
{
	margin-left: -4px;
	margin-right: 0px;
	border-width: 1px;
	border-color: #0065FC;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-right: 20px;
	background-color: #0065FC;
	color: white;
}

.logements_disponibles
{
	font-size: 10px;
}

aside
{
	width: 300px;
	height: 550px;
}

#titreLesPlusPopulaires h2
{
	font-size: 11px;

}

.icone
{
	margin-top: -20px;
	margin-left: 50px;
}

.card2 
{
	width: 150px;
	height: 100px;
	margin-left: 10px;
}

.image2
{
	width: 80px;
	height: 92px;
}

figcaption
{
	width: 155px;
}

figcaption h3,p /*texte légende*/
{
	margin-top: 5px;
	margin-left: 10px;
}

.fa-star
{
	margin-top: 0px;
}

.ancre_hébergements
{
	font-size: 15px;
}

.card 
{
	width: 220px;
	margin-left: -20px;
}

.image
{
	width: 243px;
}

.Activites_a_Marseille h2 
{
	font-size: 17px;
}

footer
{
	width: 280px;
}


