/* Police */

@font-face
{
	font-family: 'Raleway';
	src: url('Raleway.ttf')format('ttf');
	src: url('Raleway.eot')format('eot');
	src: url('Raleway.woff')format('woff');
	src: url('Raleway.uvg')format('uvg');
}

.bloc_page
{
	font-family: Raleway, Arial, Georgia, Verdana, Serif;
}




/* Elements principaux de la page */`

.bloc_page
{
    max-width: 1199px;
    min-width: 0;
}



/* Header */


header
{
	background-color: #FFFFFF;
}

.conteneur
{
	display: flex;
}

.logo
{
	flex-direction: row;
	margin-left: 30px;
	margin-top: 20px;
}


.menusinscrire, .menuhébergements
{
	color: #0065FC;
}



.menuactivités
{
	color: #F2F2F2;
}

.menu
{
	float: right;
	margin-left: 800px;
	margin-top: 20px;
}


/* Navigation */

nav ul
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
	
}

nav li
{
	margin-right: 30px; /*espace entre les éléments du menu*/
	
}

nav a 
{
	text-decoration: none;
}

nav a:hover
{
	color: #0065FC;
}

a:visited
{
	color: #0065FC;
}

a:focus
{
	color: #0065FC;
}


/* bannière recherche */

.titre_bannière
{
	font-size: x-large;
	margin-left: 32px;
}

.texte_bannière
{
	font-size: 18px;
	font-weight: normal;
	margin-left: 32px;
}

.barre_recherche i
{
	margin-left: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	padding-bottom: 16px;
	padding-top: 15px;
	padding-right: 16;
	padding-left: 16px;
	background-color: #F2F2F2;

}

.recherche 
{
	margin-left: -6px;
	margin-right: -4px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 0px 0px 0px 0px;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 16px;
}

.bouton
{
	margin-left: -4px;
	margin-right: 0px;
	border-width: 1px;
	border-color: #0065FC;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 15px;
	background-color: #0065FC;
	color: white;

}



/* filtres */

div ul
{
	list-style-type: none;
	display: flex;
}

.conteneur_filtres
{
	display: flex;
}

.familial, .romantique, .animaux
{
	margin-left: 40px;
	border-width: 3px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 20px;
	padding: 10px;
}

.économique
{
	margin-left: 10px;
	border-width: 3px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 20px;
	padding: 10px;
}

.titre_filtres
{
	margin-top: 30px;
	margin-left: 50px;
}

.logements_disponibles
{
	font-weight: normal;
}

/* body */

/* photos et légendes */

img
{
	width: 220px;
	height: 120px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
	margin-bottom: -5px;
}

figcaption
{
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 0px 0px 15px 15px;
	background-color: white;
	padding: 10px;
	padding-left: 0px;
	margin-right: 957px;
}


figcaption h2
{
	font-size: 13px;
	margin-top: -6px;
	margin-left: 2px;
}

figcaption p
{
	font-size: 12px;
	margin-top: -8px;
}


.Hébergements_à_Marseille
{
	border-width: 1px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	width: 800px;
	margin-left: 35px;
	padding-right: 70px;	
}

aside
{
	border-width: 1px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	width: 400px;
	margin-left: 45px;
	padding-right: 40px;
}

.Hébergements
{
	display: flex ;
}

.images, .images2
{
	display: flex;
	flex-wrap: wrap;
}





/* footer */ 

/* couleur de fond */

footer
{
	background-color: #F2F2F2;
}

/*disposition des blocs*/

.conteneurfooter 
{
	display: flex; 
}

.A_propos
{
	margin-left: 40px;
	margin-bottom: 30px;
	margin-top: 30px;

}

.Nos_hébergements
{
	margin-left: 300px;
	margin-bottom: 30px;
	margin-top: 30px;

}

.Assistance
{
	margin-left: 450px;
	margin-bottom: 30px;
	margin-top: 30px;

}



/* taille des titres*/

.A_propos h1, .Nos_hébergements h1, .Assistance h1
{
	font-size: large;
}



/* taille des paragraphes */

.A_propos p, .Nos_hébergements p, .Assistance p
{
	font-size: medium;
}




