									/* GENERAL */
/* Police et taille page*/

@font-face
{
	font-family: 'Raleway';
	src: url('Raleway.ttf')format('ttf');
	src: url('Raleway.eot')format('eot');
	src: url('Raleway.woff')format('woff');
	src: url('Raleway.uvg')format('uvg');
}

.bloc_page
{
	font-family: Raleway, Arial, Georgia, Verdana, Serif;
	max-width: 1199px;
    min-width: 0;

}




											/* HEADER */


header
{
	background-color: #FFFFFF;
}

.conteneur
{
	display: flex;
}

.logo
{
	flex-direction: row;
	margin-left: 30px;
	margin-top: 20px;
}


.menusinscrire, .menuhébergements
{
	color: #0065FC;
}



.menuactivités
{
	color: #F2F2F2;
}

.menu
{
	float: right;
	margin-left: 800px;
	margin-top: 20px;
}


/* Navigation */

nav ul
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
	
}

nav li
{
	margin-right: 30px; /*espace entre les éléments du menu*/
	
}

nav a 
{
	text-decoration: none;
}

nav a:hover
{
	color: #0065FC;
}

a:visited
{
	color: #0065FC;
}

a:focus
{
	color: #0065FC;
}


/* bannière recherche */

.bannerTitle
{
	font-size: x-large;
	margin-left: 32px;
}

.bannerText
{
	font-size: 16px;
	font-weight: normal;
	margin-left: 32px;
}

.barre_recherche i
{
	margin-left: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	padding-bottom: 16px;
	padding-top: 15px;
	padding-right: 16;
	padding-left: 16px;
	background-color: #F2F2F2;

}

.recherche 
{
	margin-left: -6px;
	margin-right: -4px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 0px 0px 0px 0px;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 16px;
}

.bouton
{
	margin-left: -4px;
	margin-right: 0px;
	border-width: 1px;
	border-color: #0065FC;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 15px;
	background-color: #0065FC;
	color: white;

}



/* filtres */

.filterList ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.conteneur_filtres
{
	display: flex;
}

.filterList ul li
{
	display: inline;
  	margin-left: 25px;
  	font-weight: 700;
  	border: solid 2px #F2F2F2;
  	padding: 0px 20px 0px 0px;
  	margin-top: 10px;
  	border-radius: 200px;
}



.iconFilter
{
	color: #0065FC;
	background-color: #DEEBFF;
	padding: 18px;
  	border-radius: 200px;
  	margin-right: 15px;
}

.titre_filtres
{
	margin-top: 30px;
	margin-left: 50px;
}

.logements_disponibles
{
	font-weight: normal;
	font-size: 16px;
	margin-left: 40px;
}

											/* BODY*/


/*Titre */

.Hebergements_a_Marseille h2
{
	padding-left: 40px;
	padding-top: 20px;
}

.Les_plus_populaires h2
{
	font-size: x-large;
	padding-left: 40px;
	padding-top: 20px;
}

.Hebergements
{
	display: flex;
}


/* fond gris et card Hébergements à Marseille */

.Hebergements_a_Marseille  /* cadre gris de fond*/
{
	border-width: 1px;
	width: 870px;
	border-color: #F2F2F2;
	background-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;


}


.image
{
	width: 232px;
	height: 120px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.card   
{
	border-width: 3px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	width: 210px;
	height: 190px;
	margin-left: 25px;
	margin-right: 10px;
	padding-right: 30px;
	padding-bottom: 16px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
}

figcaption
{
	width: 236px;
	height: 75px;
	background-color: white;
	border-width: 3px;
	border-color: white;
	border-style: solid;
	border-radius: 0px 0px 15px 15px;
}

figcaption h3
{
	font-size: 14px;
	margin-left: 5px;
	margin-top: 0px;
}

figcaption p
{
	font-size: 14px;
	margin-left: 5px;
	margin-top: -6px;
}

.bluestar
{
	margin-left: 5px;
	color: #0065FC;
}

.greystar
{
	color: #F2F2F2 ;
}

.cardContainer
{
	display: flex;
	padding-bottom: 4px;
}



												/*ASIDE*/

aside  /* cadre  gris de fond */
{
	border-width: 1px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	width: 355px;
	margin-left: 35px;
	margin-bottom: 1970px;
	padding-bottom: 30px;
}

#titreLesPlusPopulaires  /*placer le titre et l'icone à côté*/
{
	display: flex;
}

.icone
{
	padding-left: 55px;
	padding-top: 50px;
}

#titreLesPlusPopulaires h2  /*titre*/
{
	padding-left: 30px;
}

.image2
{
	width: 110px;
	height: 90px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
}

.card2   /* cadre gris de chaque card avec ombre portée grise */
{
	
	height: 100px;
	width: 180px;
	border-width: 3px;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	margin-left: 35px;
	padding-right: 100px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
	display: flex;
	margin-bottom: 20px;
	
}

figcaption /*cadre blanc légende de la card*/
{
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	background-color: white;
	margin-top: 0px;
	padding-right: 5px;
	padding-bottom: 25px ;

}

figcaption h3,p /*texte légende*/
{
	font-size: 14px;
	width: 150px;
	margin-top: 5px;
}

.fa-star /*étoiles*/
{
	margin-left: 5px;
	color: #0065FC;

}



/* ACTIVITES À MARSEILLE */

.Activites_a_Marseille img 
{
	width: 220px;
	height: 120px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.conteneur_activites
{
	display: flex;
}

.conteneur_activites2
{
	display: flex;
}

.ile_frioul
{
	margin-left: 340px;
}

.parc2
{
	margin-left: 343px;
}






											/* FOOTER */ 

/* couleur de fond */

footer
{
	background-color: #F2F2F2;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*disposition des blocs*/

.footercontainer
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.A_propos, .Nos_hebergements, .Assistance
{
	padding: 30px;
	display: flex;
	flex-direction: column;
}



/* taille des titres*/

.A_propos h3, .Nos_hebergements h3, .Assistance h3
{
	font-size: 18px;
	margin-bottom: 15px;
}



/* taille des paragraphes */

.A_propos p, .Nos_hebergements p, .Assistance p
{
	font-size: medium;
}






