									/* GENERAL */
/* Police et taille page*/

@font-face
{
	font-family: 'Raleway';
	src: url('Raleway.ttf')format('ttf');
	src: url('Raleway.eot')format('eot');
	src: url('Raleway.woff')format('woff');
	src: url('Raleway.uvg')format('uvg');
}

.bloc_page
{
	font-family: Raleway, Arial, Georgia, Verdana, Serif;
}




											/* HEADER */


header
{
	background-color: #FFFFFF;
}

.conteneur
{
	display: flex;
}

.logo
{
	flex-direction: row;
	margin-left: 30px;
	margin-top: 20px;
}




.menuactivités
{
	color: #F2F2F2;
}



.menu nav ul li:hover
{
	border-top: 3px solid #0065FC;
    color:#0065FC;
}

.menu nav ul a:hover
{
	color:#0065FC;
}


.menu
{
	float: right;
	margin-left: 800px;
	margin-top: 20px;
}


/* Navigation */

.menunav
{
	justify-content: space-between;
}

nav ul
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
	
}

nav li
{
	margin-right: 30px; /*espace entre les éléments du menu*/
	
}

nav a /*retire souligné*/
{
	text-decoration: none ;
	color: #0065FC ;
}


a:visited   /* couleur menu bleu */
{
	color: #0065FC;
}


/* bannière recherche */

.bannerTitle
{
	font-size: x-large;
	margin-left: 32px;
}

.bannerText
{
	font-size: 16px;
	font-weight: normal;
	margin-left: 32px;
}

.barre_recherche i
{
	margin-left: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	padding-bottom: 16px;
	padding-top: 15px;
	padding-right: 16;
	padding-left: 16px;
	background-color: #F2F2F2;

}

.recherche 
{
	margin-left: -6px;
	margin-right: -4px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 0px 0px 0px 0px;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 16px;
}

.bouton
{
	margin-left: -4px;
	margin-right: 0px;
	border-width: 1px;
	border-color: #0065FC;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 15px;
	background-color: #0065FC;
	color: white;

}

.barre_recherche_mobile
{
	display: none;
}

/* filtres */

.filterList ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.conteneur_filtres
{
	display: flex;
}


.filterList ul li
{
	display: inline;
  	margin-left: 25px;
  	font-weight: 700;
  	border: solid 2px #F2F2F2;
  	padding: 0px 20px 0px 0px;
  	margin-top: 10px;
  	border-radius: 200px;

}

.iconFilter
{
	color: #0065FC;
	background-color: #DEEBFF;
	padding: 18px;
	padding-right: 10px;
  	border-radius: 200px;
  	margin-right: 15px;
}

.titre_filtres
{
	font-size: 16px;
	font-weight: 700;
	margin-top: 45px;
	margin-left: 30px;
	margin-right: -100px;
}

.logements_disponibles
{
	font-weight: normal;
	font-size: 16px;
	margin-left: 40px;
}

.filterList li:hover
{
	text-decoration: underline;
	background-color: #DEEBFF;
}

.fa-info-circle
{
	color: white;
	background-color:#0065FC;
	border-radius: 200px;
	border-color: #F2F2F2;
	border-style: solid;
	border-width: 1px;
	margin-right: 7px;

}

											/* BODY*/


/*Titre */

.Hebergements_a_Marseille h2
{
	padding-left: 40px;
	padding-top: 20px;
}

.Les_plus_populaires h2
{
	font-size: x-large;
	padding-left: 40px;
	padding-top: 20px;
}

.Hebergements
{
	display: flex;
}


/* fond gris et card Hébergements à Marseille */

.Hebergements_a_Marseille  /* cadre gris de fond*/
{
	border-width: 1px;
	width: 870px;
	height: 600px;
	border-color: #F2F2F2;
	background-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	padding-right: 20px;
	margin-left: 20px;


}


.image
{
	width: 232px;
	height: 120px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.card   
{
	border-width: 3px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	width: 210px;
	height: 190px;
	margin-left: 25px;
	margin-right: 10px;
	padding-right: 30px;
	padding-bottom: 16px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
}

.legende
{
	height: 75px;
	background-color: white;
}

.legende h3
{
	font-size: 14px;
	margin-left: 5px;
	margin-top: 0px;
}

.legende p
{
	font-size: 14px;
	margin-left: 5px;
	margin-top: -6px;
}


#graystar 
{
	color: #F2F2F2;
}

.cardContainer
{
	display: flex;
	padding-bottom: 30px;

}

.Afficherplus
{
	margin-left: 30px;
	margin-top: -10px;
}



												/*ASIDE*/

aside  /* cadre  gris de fond */
{
	border-width: 1px;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	width: 355px;
	height: 600px;
	margin-left: 35px;
}

#titreLesPlusPopulaires  /*placer le titre et l'icone à côté*/
{
	display: flex;
}

.icone
{
	padding-left: 55px;
	padding-top: 50px;
}

#titreLesPlusPopulaires h2  /*titre*/
{
	padding-left: 30px;
}

.image2
{
	width: 65px;
	height: 90px;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 0px 0px 15px;
}

.card2   /* cadre gris de chaque card avec ombre portée grise */
{
	height: 100px;
	width: 180px;
	border-width: 3px;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	margin-left: 35px;
	padding-right: 100px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
	display: flex;
	margin-bottom: 40px;
	
}

.card2:active, .card:active, .card3:active/*effet zoom sur card au clic*/
{
	transform: scale(3);
   	transition: 2s;
}


figcaption /*cadre blanc légende de la card*/
{
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 0px 15px 15px 0px;
	background-color: white;
	margin-top: 0px;
	padding-right: 5px;
	padding-bottom: 25px ;

}

figcaption h3,p /*texte légende*/
{
	font-size: 14px;
	width: 150px;
	margin-top: 5px;
}

.fa-star /*étoiles*/
{
	margin-left: 5px;
	color: #0065FC;
}


									/*activité à Marseille*/
/*Card 1 Vieux Port*/

.activityCard1 img
{
	width: 310px;
	height: 400px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.activityCard1 
{
	text-align: left;
	padding-left: 3px;
	margin-right: 30px;
	border-radius: 15px 15px 15px 15px;
	border-width: 1px;
	background-color: white;
	border-color: white;
	border-style: solid;
	width: 280px;
	height: 450px;
	box-shadow: 4px 4px 4px rgb(196, 196, 196); /*ombre portée grise*/
} 

.activityCard1 h3
{
	font-size: 17px;
	margin-top: 10px;
	margin-left: 5px;
}

.cardlink
{
	text-decoration: none;
	color: black;

}

a 
{
	text-decoration: none;
}

.cardContainer
{
	padding-right: 30px;
}

/*Card 2 Fort de Pomègue*/

.activityCard2 img
{
	width: 290px;
	height: 190px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.activityCard2 
{
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	border-width: 1px;
	background-color: white;
	border-color: white;
	border-style: solid;
	width: 260px;
	height: 200px;
	box-shadow: 4px 4px 4px rgb(196, 196, 196); /*ombre portée grise*/
	padding-bottom: 45px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.activityCard2 h3
{
	font-size: 17px;
	margin-top: 10px;
	padding-left: 10px;
}


/*Card 3 Parc National des Calanques*/

.activityCard3 img
{
	width: 310px;
	height: 400px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.activityCard3 
{
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	border-width: 1px;
	background-color: white;
	border-color: white;
	border-style: solid;
	width: 282px;
	height: 450px;
	box-shadow: 4px 4px 4px rgb(196, 196, 196); /*ombre portée grise*/
	margin-left: 40px;
}

.activityCard3 h3
{
	font-size: 17px;
	margin-top: 10px;
	padding-left: 10px;
}

/*Card 4 Notre Dame de la Garde*/

.activityCard4 img
{
	width: 290px;
	height: 150px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.activityCard4 
{
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	border-width: 1px;
	background-color: white;
	border-color: white;
	border-style: solid;
	width: 260px;
	height: 170px;
	box-shadow: 4px 4px 4px rgb(196, 196, 196); /*ombre portée grise*/
}

.activityCard4 h3
{
	font-size: 17px;
	margin-top: 10px;
	padding-left: 10px;
}

.activityCard4
{
	padding-bottom: 35px;
	margin-bottom: 28px;
}



.conteneur_activites 
{
	display: flex;
}

.activityCard2, .activityCard3, .activityCard4
{
	margin-left: 3px;
}

/*card 5 ile du frioul*/

.activityCard5 img
{
	width: 290px;
	height: 130px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.activityCard5 
{
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	border-width: 1px;
	background-color: white;
	border-color: white;
	border-style: solid;
	width: 260px;
	height: 150px;
	box-shadow: 4px 4px 4px rgb(196, 196, 196); /*ombre portée grise*/
	padding-bottom: 45px;
	margin-bottom: 40px;
}

.activityCard5 h3
{
	font-size: 17px;
	margin-top: 10px;
	padding-left: 10px;
}

/*Card 6 Parc longchamps*/

.activityCard6 img
{
	width: 290px;
	height: 180px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
}

.activityCard6
{
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	border-width: 1px;
	background-color: white;
	border-color: white;
	border-style: solid;
	width: 260px;
	height: 200px;
	box-shadow: 4px 4px 4px rgb(196, 196, 196); /*ombre portée grise*/
	padding-bottom: 45px;
	margin-bottom: 40px;
}

.activityCard6 h3
{
	font-size: 17px;
	margin-top: 10px;
	padding-left: 10px;
}




.lot1, .lot2
{
	flex-direction: row;
}

.lot2
{
	margin-left: 30px;
}


											/* FOOTER */ 

/* couleur de fond */

footer
{
	background-color: #F2F2F2;
	width: 85%;
	display: flex;
	margin-left: -5px;
	padding-right: 250px;
}



.footerContainer /*disposition des blocs*/
{
	width: 100%;
	display: flex;
}

.footerBloc   /*blocs*/
{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-right: 50px;
	padding-right: 140px;
	font-size: 15px;
}


.footerBloc h3 
{
	font-size: 18px;
	margin-bottom: 15px;
}

.footerBloc h3, p 
{
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
}









