/*HEADER*/

	.logo
	{
		width: 100px;
   	height: auto;
	}


/*menu en version tablette*/

nav ul
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
	flex-direction: column-reverse;
	
}

.menu   /*Fait disparaitre le menu desktop*/
{
	display: none;
}

.menumobile
{
	display: block;
	width: 57%;
	margin-left: -100px;
}

#table_menu
{
	display: block;
}

.Hebergementsactivités
{
	display: flex;
	padding-top: 70px;

}

.Hebergementsactivités a 
{
	padding-right: 10px;
	padding-top: 70px;

}


table td          /*partie menu mobile hebergements et activités soulignée en bleu et gris*/
{
	padding-top: 40px;
	border-bottom: solid;
	border-color: #0065FC;
	width: 50%;
	padding-bottom: 10px;
}


.activiteslien
{
	border-bottom: solid;
	border-color: #F2F2F2;
	width: 220px;
}

table td a 
{
		color: #0065FC;
}

.inscriptionlien
{
	text-align: right;
	margin-top: 40px;
	margin-left: -50px;
}

.inscriptionlien a 
{
	color: #0065FC;
}

.hebergementlien
{
	margin-left: 20px;
}

.activiteslien
{
	margin-left:40px;
}

.menusinscrire
{
	padding-left: -60px;
}

/*TITRES*/

.bannerTitle
{
	font-size: 15px;
	margin-top: 30px;
}

.bannerText
{
	font-size: 13px;
}

/*FILTRES*/


.titre_filtres
{
	font-size: 13px;
	margin-left: 10px;
}


.conteneur_filtres
{
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 30px;
}

.filterList ul
{
	font-size: 10px;
	border-color: white;
	border-style: solid;
	padding: 3px;
	width: 400px;
	word-wrap: break-word;
}


.filterList ul li
{
	display: inline;
  	margin-left: 30px;
  	font-weight: 300;
  	border: solid 2px #F2F2F2;
  	padding: 0px 10px 0px 0px;
  	margin-top: 5px;
  	border-radius: 200px;

}

.iconFilter
{
	color: #0065FC;
	background-color: #DEEBFF;
	padding: 10px;
	padding-right: 10px;
  	border-radius: 200px;
  	margin-right: 15px;
}



.logements_disponibles
{
	font-size: 10px;
	margin-left: 10px;
}

/*LES PLUS POPULAIRES*/

aside   /* cadre fond gris*/
{
	margin-left: 0px;
	margin-top: 3px;
	margin-bottom: 5px;
	width: 460px;
	height: 530px;
}

.icone
{
	margin-top: -15px;
	margin-left: 160px;
}

.card2 
{
	margin-left: 85px;
}


/*HEBERGEMENTS*/

.Hebergements
{
	flex-direction: column-reverse;
	padding-bottom: 900px;
}

.card
{
	margin-bottom : 20px;
	margin-left: 90px;
}

.cardmouettes
{
	margin-bottom: 0px;
}

	
.Hebergements_a_Marseille
{
	background-color: white;
	border-color: white;
}

.Hebergements_a_Marseille h2
{
	font-size: 15px;
	padding-left: 10px;
	padding-top: 10px;
}


.cardContainer
{
	flex-direction: column;
}


#titreLesPlusPopulaires h2
{
	font-size: 15px;
}



/*ACTIVITES*/

.conteneur_activites
{
	flex-direction: column;
    align-items: center;
    width: 100%;
}

#ancre_activités
{
	font-size: 15px;
	padding-top: 10px;
}

.Activites_a_Marseille h3
{
	font-size: 12px;
}
.activityCard1
{
	width: 190px;
	height: 110px;
	margin-bottom: 25px;
	margin-left: -150px;
}

.activityCard1 img 
{
	width: 220px;
	height: 100px;
	padding-left: -10px;
}

.activityCard2
{
	width: 195px;
	margin-left: -160px;
	margin-bottom: 25px;
	height: 95px;
}

.activityCard2 img 
{
	width: 223px;
	height: 100px;
}

.activityCard5
{
	margin-left: -160px;
	margin-right: 10px;
	height: 93px;
	width: 195px;
	margin-bottom: 25px;
}

.activityCard5 img 
{
	height: 100px;
	width: 225px;
}

.activityCard3
{
	width: 172px;
	height: 110px;
	padding-right: 50px;
	padding-left: 10px;
	margin-bottom: 25px;
	margin-left: -190px;
}

.activityCard3 img 
{
	width: 220px;
	height: 100px;
}

.activityCard3 h3
{
	font-size: 11px;
}

.activityCard4
{
	width: 200px;
	height: 110px;
	margin-left: -215px;
}

.activityCard4 img 
{
	height: 100px;
	width: 229px;
}

.activityCard6
{
	height: 100px;
	width: 200px;
	margin-left: -215px;
}

.activityCard6 img 
{
	height: 100px;
	width: 230px;
}

/*FOOTER */

footer 
{
	margin-left: -45px;
}

.footerContainer /*disposition des blocs*/
{
	width: 100%;
	flex-direction: column;
}

.footerBloc
{
	margin-top: 30px;
}

.footerBloc h3, p 
{
  margin-top: 0px;
}


